.label {
  margin-left: 16px;
}

.input {
  width: 248px;
  height: 46px;
  font-size: 14px;
  padding-left: 14px;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #d3d3d3;
  background-color: #ededed;
}
.input::placeholder {
  color: #000000;
}

@media screen and (min-width: 468px) {
  .label {
    margin-left: 36px;
  }

  .input {
    width: 350px;
    height: 48px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .label {
    margin-left: 100px;
  }

  .input {
    width: 500px;
    height: 50px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .label {
    margin-left: 250px;
  }

  .input {
    width: 700px;
    height: 60px;
    font-size: 20px;
  }
}
